<p data-language-id='<%= hob.id %>'>
    <%= hob.name %>
    <% if current_user.profile == @profile %>
    <%= link_to 'X', profile_language_path(@profile, hob), method: :delete , remote: true%>
    <% end %>
</p>
