<div class="well" id="group-<%= group.id%>">
      <span> new messages: <%= current_user.group_notification(group).counter %> </span>
          <small>with: </small>
          <ul>
          <% group.profiles.each do |profile| %>
               <li> <span> <%= profile.nickname %> </span> </li>
           <% end %>
          </ul>
          <%= link_to "Contact them",
            cluster_path(@cluster,:messages => group.id), remote: true %>
        </div>
